<div class="container mt-5 mb-3">
  <div class="d-flex justify-content-end mb-4">
    <button mat-raised-button color="primary" (click)="openDialog()" class="btn btn-primary">Nova Categoria</button>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="categorias" class="table table-striped table-hover">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>

      <ng-container class="d-flex flex-row-reverse" matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef class="text-center">Ações</th>
        <td mat-cell *matCellDef="let row" class="col-md-2 text-center" colspan="1">
          <div class="btn-group" role="group">
            <button mat-icon-button color="accent" (click)="openDialog(row.id)" class="col-sm-1 btn btn-link">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluirCategorias(row.id)" class="col-sm-1 btn btn-link">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="2">Nenhuma categoria cadastrada</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecione a quantidade de itens por páginas"></mat-paginator>
</div>
