<div class="container-fluid mt-5 mb-3">
    <div class="d-flex justify-content-end mb-4">
      <button mat-raised-button color="primary" (click)="openProductDialog()" class="btn btn-primary">
        Novo Produto
      </button>
    </div>
  
    <div class="table-responsive">
      <table mat-table [dataSource]="produtos" class="table table-striped table-hover">
  
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
        </ng-container>
  
        <ng-container matColumnDef="preco">
          <th mat-header-cell *matHeaderCellDef>Preço</th>
          <td mat-cell *matCellDef="let row">{{ row.preco | currency:'BRL' }}</td>
        </ng-container>

        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let row">{{ row.categoria?.nome }}</td>
          </ng-container>
  
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="text-center">Ações</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div class="btn-group" role="group">
              <button mat-icon-button color="accent" (click)="openProductDialog(row.id)" class="btn btn-link">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="excluirProduto(row.id)" class="btn btn-link">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="4">Nenhum produto cadastrado</td>
        </tr>
      </table>
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecione a quantidade de itens por página"></mat-paginator>
  </div>
  